*.pyc
.*.swp
.*.swo
.vimprj
.ropeproject
*.egg*
.idea
.cache
*.orig
*_BACKUP_*
*_BASE_*
*_LOCAL_*
*_REMOTE_*
*__pycache__
.coverage
.tox
.pytest_cache

doc/build
build/
dist/
site/

CHG
CHGCAR
CONTCAR
DOSCAR
EIGENVAL
OSZICAR
OUTCAR
PCDAT
REPORT
WAVECAR
XDATCAR
vasprun.xml
